* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}
a{
  text-decoration: none;
}
.header {
  width: 100%;
  background: #fa5130;
  min-height: 100%;
}
.container {
  margin: auto;
  width: 1200px;
}
.container-top {
  width: 100%;
  height: 34px;
  padding: 0px ;
  display: flex;
  justify-content: space-between;
}
.container-bottom {
  width: 100%;
  min-height: 100%;
  padding: 10px 0px 0 0px;
  display: flex;
  justify-content: space-between;
}
.container-top ul {
  list-style-type: none; /* Loại bỏ bullet points */
  margin: 0;
  padding: 0;
  display: flex; /* Cho phép các mục li hiển thị theo chiều ngang */
  align-items: center; /* Căn giữa các mục li theo chiều dọc */
}

.container-top  li {
  padding: 5px 10px; 
  font-size: 14px;
  padding-right: 3px;
  border-right: 1px solid white;
  padding: 0 10px;
}
.container-top .list-right-item{
  color: white;
}
.logo-img-link{
  width: 150px;
}
.header-with-search{
  width: 840px;
  min-height: 100%;
}
.search-container {
  background-color: white;
  padding :2px ;
  box-sizing: border-box;
  height: 40px;
}
.search-box{
  display: flex;
  justify-content: space-between;
  min-height: 100%;
}
.search-input {
  flex-basis: 93%;
  padding: 5px 10px;
  font-size: 14px;
  border: none;
  border-radius: 4px 0 0 4px; /* Rounded corners on the left side */
  outline: none;
}

.search-button {
  flex-basis: 7%;
  background-color: #e04e39; /* Darker shade for the button */
  color: white;
  border: none;
  border-radius: 1px; /* Rounded corners on the right side */
}
.search-button:hover {
  background-color: #c7442a; /* Even darker shade when hovering */
}
.list-search ul{
  list-style-type: none; /* Loại bỏ bullet points */
  margin: 0;
  padding: 5px 0px;
  display: flex; /* Cho phép các mục li hiển thị theo chiều ngang */
  align-items: center; /* Căn giữa các mục li theo chiều dọc */
}
.list-search a{
  color: white;
  font-size: 13px;
  padding-left:15px;
}
.list-search>ul>li:first-child a{
  padding-left: 0px !important;
}
.language-item{
  padding: 8px 0;
}
.language-item.active{
  color: #e45639;
}
.img-icon-item{
  width: 50%;
}